li:nth-last-of-type(1) {
    align-self: center;
    padding-left: 0.5rem;
    cursor: pointer;
}

img {
    height: 1.5rem;
}

img:hover { 
    transform: scale(1.1); 
}

.navbar {
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
}

.toggle-column {
    display: flex;
}

@media only screen and (max-width: 991px) {
        li:nth-last-of-type(1) {
            order: 1;
        }
        li:nth-child(1) {
            order: 2;
        }
        li:nth-child(2) {
            order: 3;
        }
        li:nth-child(3) {
            order: 4;
        }
        li:nth-child(4) {
            order: 5;
        }
        li:nth-child(5) {
            order: 6;
        }
        li:nth-child(6) {
            order: 7;
        }
        ul {
            display: flex;
            flex-direction: row;
        }
        .toggle-column {
            display: block;
            width: 50%;
        }
} 