body {
    background-image: url(/assets/circuit_primary.svg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    animation-name: bg-image;
    animation-duration: 2.5s;
}

@keyframes bg-image {
    from {opacity: 0;}
  to {opacity: 1;}
}